{% load static %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
{% for post in posts %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                {% if post.image %}
                    <a href="{% url 'detail_post' post.pk %}"><img src="{{ post.image.url }}" alt="..." height="250"></a>
                {% else %}
                    <a href="{% url 'detail_post' post.pk %}"><img src="{% static 'img/no_image.png' %}" alt="no image" height="250"></a>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
    <h2 class="text-center">Нет публикаций</h2>
{% endfor %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}