{% extends 'base.html' %}
{% block title %}Update Password{% endblock %}
{% block content %}
    <div class="container cont">
        <div class="row d-flex justify-content-center">
            <div class="col-7 card text-bg-light form-margins">
                <h2>Редактирование пароля пользователя</h2>
                <form method="post" enctype="multipart/form-data">
                    {% include 'partial/create_or_update.html' with button='Редактировать' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}